
body, html {
    font-family: Tahoma,sans-serif;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.8);
}

.navbartop{
    overflow: hidden;
    background: #f53d2d;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    top: 0;
    left: 0;
    width: 100%;
    height: 16.5%;
    overflow-x: hidden;
}

.navbar-warpper{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.navbar-warpper .anormal{
    float:left;
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 .4375rem;
    border-right: 2px solid hsla(0,0%,100%,.22);
}

.navbar-warpperleft{
    margin-left: -2.5%;
}

.navbar-warpperright{
    margin-left: 25%;
}

.navbar-warpper .aspec{
    float:left;
    color: white;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    padding: 0 .4375rem;
}

.navbar-warpper .alogin{
    float:left;
    color: white;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    padding: 0 .4375rem;
    border-left: 2px solid hsla(0,0%,100%,.22);
}

.navbar-warpper .iconapp{
    float:left;
    margin-left: -4px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    padding: 0 .4375rem;
    margin-top: -2px;
}

.navbar-warpperdown{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.navbar-warpperdown img{
    margin-left: -3.5%;
    margin-right: 1%;
    width: 8%;
    height: 0%;
    cursor: pointer;
}

.navbar-warpperdown input{
    margin-top: 10px;
    margin-left: 20px;
    width: 40%;
    padding: 10px;
    border: none;
}

.navbar-warpperdown button{
    color: white;
    background-color: #f5552d;
    margin-top: 10px;
    margin-left: -55px;
    padding: 4px 23px;
    border: 3px solid #FFF;
    border-radius: 5px;
}

.divpicprofile {
    width: 23px;
    height: 23px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-right: 5px;
    margin-top: -2px;
}

.divpicprofile img{
    width:100%;
}

.navbar-warpperdown input:focus{
    outline: none;
}

.cart{
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
}

.navbar-warpperdowntoo{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.navbar-warpperdowntoo a{
    text-decoration: none;
    margin-right: 10px;
    color:white;
    font-size: .75rem;
}

.navbar-warpperdowntoo a:hover{
    text-decoration: none;
    color: rgb(206, 206, 206);
}

.body1{
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slide-show{
    margin-right: 6px;
    margin-top: 5.5px;
    width: 41.5%;
    height: 100%;
}

.eventshow img{
    margin-top: 5px;
    display: flex;
    margin-bottom: 5px;
}

.body2{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    margin-bottom: -25px;
}

.body2 a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-align: center;
    padding: 10px 20px;
    transition: transform .2s;
    
}

.body2 img{
    width: 50px;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
}

.body2 a:hover{
    text-decoration: none;
    color: #f53d2d;
    transform: scale(1.2);
}

hr{
    background-color: rgba(156, 156, 156, 0.1);
}

.body3{
    margin-top: -17.6px;
    background-color: rgba(156, 156, 156, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    width: 100%;
}

.body3 .eventimg{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.category_box{
    width: 63%;
    margin: auto;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: 100%;
}

.category_box h5{
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.category_carditem{
    margin-top: -8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
}

.img-carditem{
    width: 100%;
    position: relative;
    width: 10%;
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 3px;
}

.img-carditem:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-carditem a{
    color: rgba(0,0,0,.8);
    font-size: 14px;
}

.img-carditem a:hover{
    text-decoration: none;
}

.dropbtn {
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
    float:left;
    color: white;
    font-size: 13px;
    text-decoration: none;
    display: flex;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 15px;
    margin-left: -50px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 5px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    color:#26aa99;
    text-decoration: none;
}

.dropdown-content a:hover {background-color: rgb(233, 233, 233);}

.dropdown:hover .dropdown-content {display: block;}

.header_shopbox{
    width: 63%;
    margin: auto;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: 100%;
    padding: 20px;
}

.header_shopbox span{
    color: rgb(238, 77, 45);
    font-size: 16px;
    padding: 20px 0px;
    margin-right: 30px;
    cursor: pointer;
}

.checkedbox{
    border-bottom: 3px solid rgb(238, 77, 45);
}

.shop_box{
    width: 66.2%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopbodybox{
    width: 15%;
    margin-right: 8px;
    margin-top: 20px;
    background-color: white;
    transition: transform .2s;
    cursor: pointer;
    justify-content: center;
}

.shopbodybox a{
    text-decoration: none;
    color: black;
}

.boximg{
    height: 55%;
}

.shopbodybox img{
    width: 100%;
    display: inline-block;
    padding: 2px;
}

.shopbodybox .caption{
    font-size: .875rem;
    padding: 10px;
    height: 110px;
}

.shopbodybox .topdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
}

.shopbodybox .price{
    color:rgb(238, 77, 45);
}

.shopbodybox .countsell{
    color: grey;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 38px;
}

.shopbodybox:hover{
    border: 1px solid rgb(238, 77, 45);
    transform: scale(1.02);
}

/* ShopItem */

.bodyproducts{
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.headlink{
    width: 100%;
    margin-left: 22%;
}

.headlink a:hover{
    text-decoration: none;
}

.headlink h6{
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product_box{
    padding: 0;
    margin-top: 1.25rem;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    width: 56%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-left{
    width: 40%;
    padding: 15px;
}

.product-left img{
    width: 100%;
}

.product-right{
    width: 60%;
    padding: 15px;
}

.product-right .shopad{
    background-color: rgb(238, 77, 45);
    width: 10%;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    color: white;
}

.product-right .product-name{
    font-size: 15px;
}

.product-details{
    display: flex;
    flex-wrap: wrap;
}

.product-score{
    color: #767676;
    font-size: 15px;
    border-right: 1px solid #767676;
    padding-right: 10px;
}

.product-details .countsell{
    margin-left: 10px;
    color: #767676;
    font-size: 15px;
}

.product-price{
    margin-top: 10px;
    background-color: rgba(189, 189, 189, 0.1);
    padding: 15px;
}

.product-price h3{
    color: rgb(238, 77, 45);
    font-size: 25px;
}

.select-count-product{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.product-countitem{
    color: #767676;
    font-size: 13px;
    margin-top: 6px;
}

.product-selectcount{
    margin-right: 10px;
}

.product-selectcount input{
    width: 60px;
    margin-left: -4.5px;
    margin-right: -5px;
    background-color: white;
    padding: 2px;
    border: 1px solid rgba(189, 189, 189, 0.5);
    text-align: center;
}

.product-selectcount #remove{
    background-color: white;
    width: 30px;
    padding: 2px;

    border-top: 1px solid rgba(189, 189, 189, 0.5);
    border-left: 1px solid rgba(189, 189, 189, 0.5);
    border-bottom: 1px solid rgba(189, 189, 189, 0.5);
    border-right: none;
}

.product-selectcount #add{
    background-color: white;
    width: 30px;
    padding: 2px;

    border-top: 1px solid rgba(189, 189, 189, 0.5);
    border-right: 1px solid rgba(189, 189, 189, 0.5);
    border-bottom: 1px solid rgba(189, 189, 189, 0.5);
    border-left: none;
}

.product-buttonaction{
    margin-top: 20px;
}

.product-buttonaction #addcart{
    background-color: rgb(255, 235, 231);
    color: rgb(238, 77, 45);
    border: 1px solid rgb(238, 77, 45);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    padding: 10px 35px;
    cursor: pointer;
}

.product-buttonaction #addcart:hover{
    background-color: rgb(255, 255, 255);
}

.product-buttonaction #buying{
    background-color: rgb(238, 77, 45);
    color: white;
    padding: 10px 35px;
    border: 1px solid rgb(238, 77, 45);
    margin-left: 10px;
    cursor: pointer;
}

.product-buttonaction #buying:hover{
    background-color: rgb(250, 116, 89);
}

*:focus {
    outline: 0 !important;
}

@media screen and (max-width: 1000px) {
    .navbar-warpper .navbar-warpperleft{
        visibility: hidden;
    }

    .navbar-warpper .navbar-warpperright{
        margin-top: -30px;
        margin-left: -5px;
    }

    .navbar-warpperdown img, .cart{
        visibility: hidden;
    }

    .category_box{
        width: 90%;
    }

    .category_carditem{
        display:block;
        width: 100%;
    }

    .img-carditem{
        width: 100%;
    }

    .header_shopbox{
        width: 90%;
    }

    .shop_box{
        width: 90%;
        height: 100%;
    }

    .shopbodybox{
        display:block;
        width: 40%;
        margin-top: 10px;
    }

    .slide-show{
        width: 550px;
        margin: auto;
    }

    /* ShopItem */

    .bodyproducts{
        margin: auto;
        width: 100%;
    }

    .product_box{
        width: 90%;
    }

    #addcart{
        margin-bottom: 20px;
    }

    .headlink{
        margin: auto;
        margin-left: 0px;
        margin-top: 20px;
    }

    .product-right .shopad{
        width: 50%;
    }
}