body, html {
    font-family: Tahoma,sans-serif;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(156, 156, 156, 0.1);
}

.navbartop{
    padding: 15px 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbartop h4{
    margin-top: 12px;
    margin-left: 10px;
}

.logo img{
    width: 150px;
}

.help{
    color: #ee4d2d;
    font-size: .875rem;
    cursor: pointer;
    margin-top: -50px;
    margin-right: 50px;
    float: right;
    text-decoration: none;
}

.help:hover{
    color: #ee4d2d;
    text-decoration: none;
}
